body{
  font-family:'Tahoma', 'Verdana', 'Helvetica';
  color:#00858F;
}

#logo{
  position:absolute;
  width:328px;
  height:51px;
  top:22px;
  left:220px;
}

  img.character{
    margin-bottom:20px;
  }

  #clue{
    color:red;
    cursor:pointer;
  }

  .dead{
    opacity:0.5;
  }

  #wrapper{
    width:768px;
    height:1024px;
    border:1px solid red;
    box-sizing:border-box;
    background-image:url('../ressource/img/general/fond.png');
  }

  #character_container{
    width: 652px;
    margin:auto;
    margin-top: 118px;
  }

  .hands{
    cursor:pointer;
    margin-bottom:20px;
  }

  #hands{
    position: absolute;
    width: 652px;
    margin: auto;
    left: 60px;
    top:120px;
  }


/* Menu univers */
.theme1 {
    
}

  #container_theme {
    width:500px;
    height:1024px; 
    top: 118px;
    left: 58px;
  }

  #mascotte{
    position:absolute;
    bottom:-20px;
    left:500px;
  }

#pop{
  left:58px;
  bottom:100px;
  position:absolute;
}

  #pop > #content{
    position:absolute;
    margin-top:-61px;
    margin-left:25px;
    font-size:28px;
  }

#pictos{
 position:absolute;
 left:58px;
 bottom:-20px;
}

.picto{
  display:block;
  background:url('../ressource/img/general/sprite_picto.png') no-repeat;
  width:76px;
  height:81px;
  display:inline-block;
  margin-right:40px;
  cursor:pointer;
}

  #home{
    background-position:0px 0px;
  }
  #home:focus, #home:hover{
    background-position:0px 5px;
  }

  #text_clue{
    background-position:-76px 0px;
  }
  #text_clue:focus, #text_clue:hover{
    background-position:-76px 5px;
  }

  #replay{
    background-position:-152px 0px;
  }
  #replay:focus, #replay:hover{
    background-position:-152px 5px;
  }

  #clue{
    background-position:-229px 0px;
    display:none;
  }
  #clue:focus, #clue:hover{
    background-position:-229px 5px;
  }

  .hidden{
    display:none;
  }

.animated { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in; 
    animation-timing-function: ease-in; 
} 

@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(30px);} 
    60% {-webkit-transform: translateY(15px);} 
    90% {-webkit-transform: translatYe(100px);}
} 

@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(30px);} 
    60% {transform: translateY(15px);} 
    90% {transform: translateY(100px);}
} 

.bounce { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
}