

#logo{
  position:relative;
  width:328px;
  height:51px;
  top:22px;
  left:220px;
}

.hands{
  cursor:pointer;
}

img.character{
  margin-bottom:20px;
}

#clue{
  color:red;
  cursor:pointer;
}

.dead{
  opacity:0.5;
}

#character_container{
  width: 652px;
  margin:auto;
  margin-top: 100px;
}

#hands{
  width: 652px;
  margin: auto;
  position: absolute;
  top: 155px;
  left: 60px;
}

.hands{
  margin-bottom:20px;
}

#mascotte{
  position:absolute;
  bottom:-20px;
  left:500px;
}

#pop{
  left:58px;
  bottom:100px;
  position:absolute;
}

  #pop > #content{
    position:absolute;
    margin-top:-61px;
    margin-left:25px;
    font-size:28px;
  }

#pictos{
 position:absolute;
 left:58px;
 bottom:-20px;
}

.picto{
  display:block;
  background:url('../ressource/img/general/sprite_picto.png') no-repeat;
  width:76px;
  height:81px;
  display:inline-block;
  margin-right:40px;
  cursor:pointer;
}

  #home{
    background-position:0px 0px;
  }
  #home:hover{
    background-position:0px 5px;
  }

  #text_clue{
    background-position:-76px 0px;
  }
  #text_clue:hover{
    background-position:-76px 5px;
  }

  #replay{
    background-position:-152px 0px;
  }
  #replay:hover{
    background-position:-152px 5px;
  }
  #clue{
    background-position:-229px 0px;
  }
  #clue:hover{
    background-position:-229px 5px;
  }

.animated { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in; 
    animation-timing-function: ease-in; 
} 

@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(30px);} 
    60% {-webkit-transform: translateY(15px);} 
    90% {-webkit-transform: translatYe(100px);}
} 

@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(30px);} 
    60% {transform: translateY(15px);} 
    90% {transform: translateY(100px);}
} 

.bounce { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 

}


/*VIEWS*/
body{
  font-family:'Tahoma';
  color:#00858F;
  width:768px;
  height:1024px;
  background:url('../ressource/img/general/fond.png') no-repeat;
}

/* THEMES */
div.title{
  background-color:yellow;
  font-size:32px;
  width:492px;
  margin:auto;
  margin-top:50px;
  padding:15px;
  text-align:center;
}

#container_theme{
  width:492px;
  margin:auto;
  margin-top:50px;
}

div.theme{
  width:246px;
  display:inline-block;
}

div.theme img{
  cursor:pointer;
}

/* LEVEL */
div#container_difficulties{
  margin-top: 100px;
}

div.difficulty{
  background:url('../ressource/img/general/sprite_level.png') no-repeat;
  width: 511px;
  height: 55px;
  display:block;
  margin: auto;
  margin-top: 50px;
  cursor:pointer;
}

#diff0{
  background-position: 0px 0px;
}

#diff1{
  background-position: 0px -55px;
}

#diff2{
  background-position: 0 -110px;
}

/*JEU*/
#conteneur_bottom{
  position: relative;
  margin-top: 225px;
}

/*GAMEOVER*/
#return_h{
  display:block;
  background:url('../ressource/img/general/sprite_picto.png') no-repeat;
  width:76px;
  height:81px;
  cursor:pointer;
  
  background-position:-229px 0px;
  position:relative;
  margin:auto;
  margin-top:85px;
}

#return_h:hover{
  background-position:-229px 5px;
}

#cadre{
  width:476px;
  height:308px;
  background-color:white;
  opacity:0.6;
  border-radius:12px;
}

#cadre{
  text-align:center;
  font-size:34px;
  margin:auto;
  margin-top:375px;
  padding-top:46px;
}

#cadre p{
  font-size:24px;
  font-weight: bold;
  line-height:0.5;
}

#cadre p:first-child{
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bold;
}

